

@import 'partials/_variables.scss';
@import 'partials/_animation.scss';
@import 'partials/_cingiz.scss';
@import 'partials/_eli.scss';
@import 'partials/_nicat.scss';
@import 'partials/_nigar.scss';
@import 'partials/_vuqar.scss';