.animateRight {
  position: relative;
  animation: animateRight 1s ease;
  animation-play-state: paused; }

@keyframes animateRight {
  0% {
    left: -1500px;
    opacity: 0; }
  55% {
    left: 10px;
    opacity: .8; }
  100% {
    left: 0px;
    opacity: 1; } }
.animateLeft {
  position: relative;
  animation: animateLeft .6s ease;
  animation-play-state: paused; }

@keyframes animateLeft {
  0% {
    right: -1500px;
    opacity: 0; }
  55% {
    right: 10px;
    opacity: .8; }
  100% {
    right: 0px;
    opacity: 1; } }
#index h1, #index h2, #index h3, #index h4, #index h5, #index h6 {
  margin: 0;
  font-family: 'Raleway'; }
#index p {
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 400; }
#index .deadline {
  font-family: 'Lato';
  font-size: 14px; }
#index .fa-clock-o {
  background-color: #F44336;
  border-radius: 100%;
  color: #fff;
  font-size: 13px;
  padding: 7px; }
#index .sectionHeader {
  padding-top: 30px;
  display: block;
  position: relative;
  overflow: hidden; }
  #index .sectionHeader h1 {
    display: inline-block;
    padding-right: 30px; }
  #index .sectionHeader:after {
    background-color: darkslategray;
    content: "";
    display: inline-block;
    position: absolute;
    top: 70%;
    height: 1px;
    width: 100%; }
#index .item {
  position: relative; }
  #index .item .itemImg {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    #index .item .itemImg img {
      height: 100%;
      width: 100%; }
  #index .item .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 26%, transparent 58%, transparent 100%);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 26%, transparent 58%, transparent 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 26%, transparent 58%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); }
  #index .item .itemContent h1 {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px; }
  #index .item .itemContent .deadline {
    padding-left: 5px; }
  #index .item .itemContent p {
    padding-top: 10px; }
  #index .item .innerItemContent {
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0; }
    #index .item .innerItemContent h1 {
      font-size: 17px;
      color: #fff; }
    #index .item .innerItemContent p {
      color: #fff; }
    #index .item .innerItemContent .deadline {
      color: #fff; }
  #index .item .outerItemContent .deadline {
    color: #000; }
  #index .item .outerItemContent h1 {
    font-size: 23px; }
#index .smallItem .smallItemImg {
  padding: 0;
  height: 75px;
  width: 87px;
  overflow: hidden; }
  #index .smallItem .smallItemImg img {
    height: 100%; }
#index .smallItem .smallItemContent h1 {
  font-size: 15px;
  font-weight: bold; }
#index .mediumItem {
  height: auto; }
  #index .mediumItem .itemImg {
    height: 180px; }
#index .bigItem {
  height: 400px; }
  #index .bigItem .itemContent {
    padding: 25px; }
    #index .bigItem .itemContent h1 {
      font-size: 30px; }
#index .specialItem .itemContent {
  padding-top: 10px; }
  #index .specialItem .itemContent h1 {
    font-size: 15px;
    padding-bottom: 10px; }
#index .specialItem .itemImg {
  width: 100%;
  height: 110px; }
#index .slider {
  height: 400;
  overflow: hidden; }
  #index .slider .fa-chevron-left, #index .slider .fa-chevron-right {
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: 40px;
    top: 170px;
    opacity: .65; }
    #index .slider .fa-chevron-left:hover, #index .slider .fa-chevron-right:hover {
      opacity: 1; }
  #index .slider .fa-chevron-left {
    left: 25px; }
  #index .slider .fa-chevron-right {
    right: 25px; }
#index #upcoming .col-md-9 .row {
  padding: 15px 0; }
  #index #upcoming .col-md-9 .row .col-md-4 .col-md-12 {
    padding: 0; }
#index #upcoming .col-md-9 #row2 .gradient {
  height: 180px; }
#index #vacancies {
  padding-top: 25px;
  padding: 15px 0;
  margin: 0; }
  #index #vacancies .row {
    padding-top: 20px; }
#index #special {
  padding-top: 25px; }
  #index #special .col-md-2 {
    transition-duration: .2s; }

@media (min-width: 768px) and (max-width: 992px) {
  #upcoming #row1 .bigItem {
    margin-bottom: 30px; }
  #upcoming #row1 .col-sm-6:first-child {
    padding-right: 15px !important; }
  #upcoming #row1 .col-sm-6:last-child {
    padding-left: 15px !important; }

  #vacancies .item {
    padding-top: 20px; }
    #vacancies .item .smallItemContent {
      padding-left: 15px; } }
@media (max-width: 768px) {
  .row {
    padding-top: 0 !important; }
    .row .item {
      margin-top: 20px; }
      .row .item .itemImg {
        height: 400px !important; }
    .row .specialItem .itemImg {
      height: 100px !important; }

  #upcoming #row2 .gradient {
    height: 400px !important; }

  #vacancies .smallItemContent {
    padding-left: 15px; }
  #vacancies .mediumItem {
    padding-top: 0 !important; } }
.section-main-content .post {
  margin-bottom: 30px; }
.section-main-content .post img:hover {
  opacity: 0.5;
  background: #000; }
.section-main-content .post-txt h3 {
  margin: 0;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1 !important;
  margin-bottom: 10px; }
.section-main-content .post-txt a {
  color: #000 !important; }
.section-main-content .post-txt .caticon {
  font-size: 12px; }
.section-main-content .post-txt p {
  padding: 10px 0;
  font-size: 14px;
  color: #000;
  line-height: 22px;
  font-weight: 300; }
.section-main-content .lifestyle {
  background-color: #f2388a;
  display: inline-block;
  border-radius: 6px;
  margin-right: 15px;
  width: 27px;
  height: 27px;
  text-align: center;
  vertical-align: middle;
  transform: rotate(45deg); }
.section-main-content .headline-row i {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  width: 27px;
  height: 27px;
  padding-top: 9px;
  display: inline-block;
  position: absolute;
  z-index: 3;
  text-align: center; }
.section-main-content .headline-row h1 {
  background: #fff;
  padding-right: 20px;
  padding-left: 5px;
  z-index: 1;
  padding-right: 20px;
  padding-left: 5px;
  font-size: 30px; }
.section-main-content .headline-row:after {
  background: #ddd;
  display: block;
  height: 1px;
  top: 55%;
  width: 100%;
  left: 0;
  position: absolute; }

@media (max-width: 768px) {
  .post-txt h3 {
    font-size: 24px !important; } }
@media (min-width: 992px) {
  font-size: 20px; }
#pages {
  font-size: 12px; }
  #pages a {
    font-size: 12px; }
  #pages h4 {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px; }
  #pages .media-object {
    margin-left: -15px;
    display: block; }
  #pages .headline-row h1 {
    background: #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding-right: 20px;
    padding-left: 5px; }
  #pages .caticon i {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    z-index: 3;
    width: 22px;
    height: 22px;
    text-align: center;
    padding-top: 1px; }
  #pages .mainPhoto {
    margin: 15px; }
  #pages .sbx i {
    padding: 15px 0 15px 4px !important;
    font-size: 14px; }
  #pages * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #pages h1.caticon span {
    display: inline-block;
    border-radius: 6px;
    margin-right: 15px;
    width: 27px;
    height: 27px;
    text-align: center;
    vertical-align: middle;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fa5b0d; }
  #pages .test span {
    display: inline-block;
    border-radius: 6px;
    margin-right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fa5b0d; }
  #pages .test span i {
    margin-left: -11px;
    margin-top: 3px;
    font-size: 12px; }
  #pages a {
    color: black; }
  #pages ul.post-tags li, #pages .section-post-comment button.btn-primary {
    display: inline-block;
    background: #93b228;
    margin-bottom: 5px;
    border: 0px solid #f1f2f5;
    color: #fff;
    padding: 10px 30px; }
  #pages ul.post-tags li:hover, #pages .section-post-comment button.btn-primary:hover {
    border: 0px solid #1d2537;
    color: #fff;
    background: #1d2537;
    text-decoration: none; }
  #pages .post {
    position: relative; }

#header {
  padding-bottom: 60px; }
  #header .navbar {
    background-color: #191B28 !important;
    border-radius: 0;
    border: none; }
    #header .navbar a {
      font-family: 'Raleway', sans-serif;
      color: white; }
    #header .navbar .navbar-header button i {
      color: white; }
    #header .navbar ul .active {
      color: #F44336; }
    #header .navbar ul li a {
      transition: all 0.2s ease;
      background: transparent !important; }
      #header .navbar ul li a:hover, #header .navbar ul li a:focus {
        color: #F44336;
        background: none; }
    #header .navbar ul li #signUp {
      color: #F44336; }
    #header .navbar ul li ul {
      border: none;
      border-radius: 0;
      background-color: #191B28; }
      #header .navbar ul li ul li {
        padding: 5px;
        transition: all 0.2s ease;
        border-left: 5px solid transparent; }
        #header .navbar ul li ul li:hover {
          border-color: #F44336; }
    #header .navbar .form-group .form-control {
      display: inline-block !important;
      border: none !important; }
    #header .navbar .form-group input {
      margin-right: -4px;
      border-radius: 0; }
    #header .navbar .form-group button {
      border-radius: 0;
      border-color: transparent;
      margin-left: -40px; }
      #header .navbar .form-group button i {
        color: #F44336; }
    #header .navbar .collapsed-form {
      margin-top: 12px;
      display: none; }
      #header .navbar .collapsed-form .form-control {
        width: 70%;
        padding: 3px 3px;
        height: auto;
        border: none; }
      #header .navbar .collapsed-form button {
        margin-left: -20px;
        margin-top: -2px;
        padding: 3px;
        border: none; }

#footer {
  margin-top: 30px;
  padding: 15px;
  background: #191B28;
  color: white;
  font-family: 'Raleway', sans-serif; }
  #footer div span {
    margin-top: 15px;
    display: block; }
  #footer div i {
    text-align: center;
    padding: 10px 0;
    width: 35px;
    margin: 5px;
    color: #F44336;
    border: 1px solid #F44336;
    border-radius: 50%;
    transition: all 0.2s ease; }
    #footer div i:hover {
      background: #F44336;
      color: #191B28; }

@media (min-width: 768px) {
  #footer span {
    float: left; }
  #footer i {
    float: right; } }
@media (max-width: 768px) {
  #footer div {
    text-align: center; } }
@media (min-width: 1200px) {
  .dropdown:hover .dropdown-menu {
    display: block !important; } }
@media (max-width: 1200px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; }

  .collapsed-form {
    display: block !important; }

  .full-width-form {
    display: none !important; } }
#author h1 {
  font-size: 48px;
  font-weight: 600;
  padding-right: 20px;
  margin: 0 0 20px 0; }
#author .link i {
  color: black;
  font-size: 16px;
  padding-left: 5px; }
#author .border {
  margin-top: 40px;
  border-left: 5px solid #EEEEEE;
  padding: 5px; }
  #author .border span {
    color: gray; }
#author .archives a {
  color: black; }
#author .archives p {
  margin-top: 10px; }
#author .archives .xett {
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
  margin-top: 35px; }

#contact p {
  line-height: 22px; }
#contact h1 {
  font-size: 48px;
  font-weight: 600;
  padding-right: 20px;
  margin: 0px 0px 20px; }
#contact .xett {
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
  margin-top: 35px; }
#contact .btn1 {
  width: 105px;
  height: 40px;
  background-color: #93B228;
  color: white;
  border: none; }
  #contact .btn1:hover {
    background-color: #073956; }

/*# sourceMappingURL=style.css.map */
