#author{
h1{
	  font-size: 48px;
    font-weight: 600;
    padding-right: 20px;
    margin: 0 0 20px 0;
}
.link{
	i{
		color:black;
		font-size:16px;
		padding-left: 5px;
	}

}

.border {
	margin-top: 40px;
	border-left: 5px solid #EEEEEE;
	padding: 5px;
	span{
		color:gray;
	}
}
.archives{
	a{
		color:black;
	}
	p{
		margin-top: 10px;
	}
.xett{
	width: 100%;
	height: 1px;
	background-color: #DDDDDD;
	margin-top: 35px;
}
}
}
// Contact scss
#contact{
	p{
	line-height: 22px;
	}
	h1{
	font-size: 48px;
    font-weight: 600;
    padding-right: 20px;
    margin: 0px 0px 20px;
	}
	.xett{
	width: 100%;
	height: 1px;
	background-color: #DDDDDD;
	margin-top: 35px;
	}
	.btn1{
		width: 105px;
		height: 40px;
		background-color:#93B228;
		color: white;
		border:none;
		&:hover{
			background-color: #073956;
		}
	}

}

